.basicheader {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  }