.basicheader {
 position: absolute;
 top: 0px;
 right: 0px;
  height: 20px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  }
  .basicheader img {
    height: 20px;
    width: 30px;

  }