@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loginpage {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(120deg, #f5f5f5 50%, #005cbf 50%, #00aaff 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
margin: 0;
}

.loginpage h1 {
  font-weight: bold;
  margin: 0;
}

.loginpage p {
  font-size: 14px;
  font-weight: 100;
  line-height: 10px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.loginpage span {
  font-size: 12px;
}

.loginpage a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.loginpage .container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 520px;
}

.loginpage .form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginpage .form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.loginpage button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff445c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.loginpage button:active {
  transform: scale(0.95);
}

.loginpage button:focus {
  outline: none;
}

.loginpage button.ghost {
  background: #1909c2;
  border-color: #fff;
}

.loginpage .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.loginpage .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.loginpage .sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.loginpage .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.loginpage .overlay {
  background: #f8f6f7;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.loginpage .overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateY(0);
  background-image: url("../assets/2.jpg");
  background-size: cover;
  background-position: center;
}

.overlay-left {
  transform: translateY(-20%);
  background-image: url("../assets/1.jpg");
  background-size: cover;
  background-position: center;
}

/* Move signin to right */
.container.right-panel-active .sign-in-container {
  transform: translateY(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
  transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
  transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
  transform: translateY(20%);
}
.overlay h1 , .overlay p {
    color: #5a0280;
    font-weight: bolder;

}
.footer {
  margin-top: 25px;
  text-align: center;
}

.loginpage  .bluetxt {
    color: #1909c2;
}
.loginpage  .roles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 5px;
}
.loginpage  .roles  div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.loginpage  .roles  div  label {
font-size: 14px;
font-weight: bolder;
}

.btnlog {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff445c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
